@using ASP.Server.Controllers
@model CreateBookModel
@{
    ViewData["Title"] = "Add a book";
}
<head>

</head>
<style>

    .input-group {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }

    h1{
        position : center;
        font-size: 2vw;
        color: #252839;
        -webkit-text-stroke: 0.3vw #383d52;
        text-transform: uppercase
    }

    input, textarea, select {
        flex-basis: 85%;
    }

    .add{
        background: rgb(149,85,81);
        background: radial-gradient(circle, rgba(149,85,81,1) 0%, rgba(0,0,0,1) 100%);
        border-radius: 8px;
        padding: 14px 40px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    body{
        background: rgb(183,182,200);
        background: linear-gradient(90deg, rgba(183,182,200,1) 0%, rgba(145,145,182,1) 35%, rgba(62,133,149,1) 100%);
    }

    .gnr{
        background: rgb(183,182,200);
        background: linear-gradient(90deg, rgba(183,182,200,1) 0%, rgba(145,145,182,1) 35%, rgba(62,133,149,1) 100%);

    }

    label {
        flex-basis: 10%;
        border-radius : 120px;
    }
    .labele{
        border-radius:16px;
        background: rgb(183,182,200);
        background: linear-gradient(90deg, rgba(183,182,200,1) 0%, rgba(145,145,182,1) 35%, rgba(62,133,149,1) 100%);
        border: 1px solid rgb(205, 92, 92);
    }
</style>
<body>
   <h1 class="title">Add new Book</h1>

<!-- Voici une facon de faire, mais ce n'est pas la seul, a vous de jouer ! -->
<form asp-controller="Book" asp-action="Create" class="formulaire" onsubmit="validation(event)">
    <div class="input-group">
        <label class="label" asp-for="Name"></label>
        <input class="labele" asp-for="Name" required />

        <label class="label" asp-for="Author"></label>
        <input class="labele" asp-for="Author" required />

        <label class="label" asp-for="Price"></label>
        <input class="labele" asp-for="Price" type="number" step="0.01" required />

        <label class="label" asp-for="Content"></label>
        <input class="labele" asp-for="Content" required />

    </div>
    <div class="input-group">
        <label class="label" asp-for="Genres"></label>
        <!--Si la page rend une erreur a cette ligne, c'est que vous n'avez pas envoyé la liste des genres dans le Controller !!! ! -->
        <select asp-for="Genres" class="gnr" asp-items="@(new SelectList(Model.AllGenres,"Id","Name"))">
        </select>
    </div>
    <input class="add" type="submit" value="Add" style="width: 30%; margin-top: 50px;margin-left:40%" />
    <div id="error-message" style="color:red;"></div>
</form>
</body>




