@{
    ViewData["Title"] = "Home Page";
}



<link rel="shortcut icon" href="~/bib.jpg" />

<body>
    <div class="text-center">
        <h1 data-text="Welcome in Book Space">Welcome in Book Space</h1> 
        <img src="~/book.png" alt="" />
  </div>





</body>




<style>
    body {
        background: rgb(183,182,200);
        background: linear-gradient(90deg, rgba(183,182,200,1) 0%, rgba(145,145,182,1) 35%, rgba(62,133,149,1) 100%);

    }

    h1{
        position:relative;
        top : 50%;
        font-size : 6vw;
        color : #252839;
        -webkit-text-stroke : 0.3vw #383d52;
        text-transform : uppercase

    }

 


    




</style>


